In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt



plt.rc('font', family='serif')
plt.rc('xtick', labelsize=14)
plt.rc('ytick', labelsize=14)
plt.rc('axes', titlesize=20, labelsize=20)
plt.rc('legend', fontsize=12)
plt.rc('figure', titlesize=18)
plt.rcParams["date.autoformatter.minute"] = "%d %H:%M:%S"

%matplotlib qt

In [45]:
file_path = './data.txt'
df = pd.read_csv(file_path)
df.head()

,Angle,1 V,2.079 V,4 V,6 V,8 V,10 V,12 V,14 V,16 V,18 V,20 V
0,38,3.140,6.750,1.650,0.406,0.157,0.0930,0.0750,0.0730,0.0793,0.0880,0.0970
1,53,2.250,4.960,1.070,0.320,0.142,0.0907,0.0740,0.0721,0.0746,0.0800,0.0860
2,68,0.686,1.420,0.458,0.158,0.088,0.0780,0.0720,0.0702,0.0700,0.0708,0.0720
3,83,0.086,0.085,0.071,0.069,0.069,0.0697,0.0700,0.0700,0.0702,0.0700,0.0701
4,98,1.110,2.140,0.479,0.150,0.087,0.0720,0.0703,0.0713,0.0745,0.0782,0.0812

In [46]:
std_values = df.drop('Angle', axis=1).std()
df.loc['STD'] = std_values
df.tail()

,Angle,1 V,2.079 V,4 V,6 V,8 V,10 V,12 V,14 V,16 V,18 V,20 V
3,83.0,0.086000,0.085000,0.071000,0.069000,0.069000,0.069700,0.070000,0.070000,0.070200,0.070000,0.07010
4,98.0,1.110000,2.140000,0.479000,0.150000,0.087000,0.072000,0.070300,0.071300,0.074500,0.078200,0.08120
5,113.0,2.800000,5.660000,1.310000,0.330000,0.136000,0.086600,0.073000,0.073100,0.078300,0.086000,0.09370
6,128.0,3.410000,6.870000,1.650000,0.414000,0.169000,0.098100,0.077000,0.073500,0.077600,0.085800,0.09330
STD,NaN,1.299613,2.736115,0.627208,0.136878,0.039189,0.010924,0.002526,0.001421,0.003754,0.007318,0.01076

In [47]:
plt.close('all')
plt.figure()
angles = df['Angle']
for i in df.columns[1:7]:
    std = df[i].std()
    plt.plot(angles, 10*np.log10(df[i]), label = f'{i}. STD = {std:.2f}[lin. W] ' )
plt.xlabel('Angle [deg]')
plt.ylabel('Power [dBm]')
plt.tight_layout()
plt.legend()

plt.figure()
angles = df['Angle']
for i in df.columns[6:]:
    std = df[i].std()
    plt.plot(angles, 10*np.log10(df[i]), label = f'{i}. STD = {std:.5f}[lin. W] ' )
plt.xlabel('Angle [deg]')
plt.ylabel('Power [dBm]')
plt.tight_layout()
plt.legend()